# Compiled Object files
*.slo
*.lo
*.o
*.aps

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
Debug/
*.suo
*.user
ipch/*
_Resharper.*

# Project Specific
*.sdf
*.opensdf
